__pycache__/
*.py[cod]
*.pyc.*
.env
.venv/
VAA/
data/*/videos/
data/*/frames/
libs/llama/llama3.1-8b/

records/
/*.md
!/README.md
data/*
!data/README.md
.agents/
.env.example
env.txt

outputs/**
!outputs/**/
!outputs/**/*.md
!outputs/**/*.png